<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuqingkai.app">
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        tools:node="remove" />
    <!-- WAP推送 -->
    <uses-permission
        android:name="android.permission.RECEIVE_WAP_PUSH"
        tools:node="remove" />
    <!-- 获取手机状态，IMEI，手机号码等 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 状态栏控制 -->
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 音量 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_SURFACE_FLINGER"
        tools:ignore="ProtectedPermissions" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 存储，含SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拨号 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG"
        tools:node="remove" />
    <!-- 获取号码拨出状态，必须动态申请 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 短信收到广播 -->
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_SMS"
        tools:node="remove" />
    <!-- 彩信 -->
    <uses-permission
        android:name="android.permission.RECEIVE_MMS"
        tools:node="remove" />
    <!-- 日程 -->
    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR"
        tools:node="remove" />
    <!-- 联系人 -->
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR"
        tools:node="remove" />
    <!-- 闹钟 -->
    <uses-permission
        android:name="android.permission.SET_ALARM"
        tools:node="remove" />
    <!-- 定位：WIFI -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 定位：GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 定位：A-GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 定位：适配安卓9.0  需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 定位：适配安卓10.0 Android Q新增权限，允许应用在后台发起定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 推送：极光 -->
    <uses-permission android:name="${packageName}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="${packageName}.permission.JOPERATE_MESSAGE" />
    <!-- 推送：华为 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- 推送：小米 -->
    <permission
        android:name=".permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".permission.MIPUSH_RECEIVE" />
    <!-- 推送：OPPO -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <!-- 推送：VIVO -->
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 截屏 -->
    <uses-permission
        android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <!-- 清除自身缓存 -->
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <!-- 删除缓存文件 -->
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许安装应用，自更新时用到 -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <!-- APP卸载广播 -->
    <uses-permission
        android:name="android.permission.BROADCAST_PACKAGE_REMOVED"
        tools:ignore="ProtectedPermissions" />
    <!-- 强制后退 -->
    <uses-permission
        android:name="android.permission.FORCE_BACK"
        tools:ignore="ProtectedPermissions" />
    <!-- 包体积 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 电量 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="API_HOST"
            android:value="${API_HOST}" />
        <meta-data
            android:name="APP_NAME"
            android:value="@string/app_name" />
        <meta-data
            android:name="H5_HOST"
            android:value="https://hrshare.jinqiaochuanmei.com" />
        <meta-data
            android:name="WEIXIN_LOGIN_APPID"
            android:value="${WEIXIN_LOGIN_APPID}" />
        <meta-data
            android:name="WEIXIN_PAY_APPID"
            android:value="${WEIXIN_PAY_APPID}" />
        <meta-data
            android:name="WEIXIN_MINAPP_APPID"
            android:value="${WEIXIN_MINAPP_APPID}" />
        <meta-data
            android:name="WEIXIN_MINAPP_ORIGINID"
            android:value="${WEIXIN_MINAPP_ORIGINID}" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="${TENCENT_MAP_APPKEY}" />
        <meta-data
            android:name="TENCENT_MAP_APPKEY"
            android:value="${TENCENT_MAP_APPKEY}" />
        <meta-data
            android:name="TENCENT_MAP_APPSECRET"
            android:value="${TENCENT_MAP_APPSECRET}" />
        <meta-data
            android:name="TENCENT_VOICE_APPID"
            android:value="\${TENCENT_VOICE_APPID}" />
        <meta-data
            android:name="TENCENT_VOICE_SECRETID"
            android:value="${TENCENT_VOICE_SECRETID}" />
        <meta-data
            android:name="TENCENT_VOICE_SECRETKEY"
            android:value="${TENCENT_VOICE_SECRETKEY}" />

        <!--
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
         -->
    </application>
</manifest>